$font-stack:    Helvetica, sans-serif;
$lightgrey: #E6E6E6;
$darkgrey: #4A4A4A;
$blue: #39C2D7;

$fontSizeLarge: 26px;
$fontSize: 16px;

$headerHeight: 80px;
$buttonHeight: 50px;
$inputHeight: $buttonHeight;
$inputWidth: 150px;

$borderRadius: 3px;

html {
  border: 0;
}

body {
  font: 100% $font-stack;
  font-family: 'Lato';
  margin: 0;
}

header {
  align-items: center;
  background-color: $lightgrey;
  box-shadow: 0 0 1px black;
  display: flex;
  height: $headerHeight;
  justify-content: flex-start;
  width: auto;
}

img {
  height: 50px;
}

.logo {
  padding-top: 12px;
  padding-left: 20px;
  padding-right: 20px;
}

.menuname {
  font-family: 'Oswald';
  font-size: $fontSizeLarge;
  color: $darkgrey;
  text-transform: uppercase;
}

.buttons {
  display: flex;
  justify-content: center;
  margin: 270px;
}

button {
  background-color: $blue;
  border: 0;
  border-radius: $borderRadius;
  box-shadow: 0 1px 4px -1px $darkgrey;
  cursor: pointer;
  height: $buttonHeight;
  width: $inputWidth;
}

a button {
  color: white;
  font-family: 'Oswald';
  font-size: $fontSize;
  text-decoration: none;
}

.middlebox {
  color: $darkgrey;
  line-height: $buttonHeight;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
}

.tofill {
  border-radius: $borderRadius;
  border-color: $blue;
  box-shadow: 0 0 4px -1px $darkgrey;
  font-family: 'Lato';
  font-size: $fontSize;
  height: $buttonHeight;
  width: 450px;
}

.loginPageLink {
  color: $blue;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
