<div>
	<form name="registrationForm" ng-controller="RegistrationController as regCtrl"
				ng-submit="registrationForm.$valid && regCtrl.addUser(user)" novalidate>
		
		<br>
		<input class="tofill" ng-model="regCtrl.user.user_email" placeholder="Type your email address" type="email" required/><br>
		<br>
		<input class="tofill" ng-model="regCtrl.user.password" placeholder="Pick a password" type="password" required/>
		<input class = "submitButton" type="submit" value="Register" />
		<a ui-sref="login"><button class="loginButton"> LOG IN </button></a>

	</form>	

		<input ng-model="regCtrl.user.user_email" placeholder="Type your email address" type="email" required/>
		<input ng-model="regCtrl.user.password" placeholder="Pick a password" type="password" required/>
		<input type="submit" value="Register" />
		<a ui-sref="login"> Log in </a>
	</form>
</div>
